.mat-list-item {
    background-color: #fff!important;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }