.prline{
    display: block;
    border-bottom: 2px solid #fff;
    text-align: left;
    font-size: 13px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-weight: bold;
}

.maincontent{
    padding-left: 15px;
    padding-right: 15px;    
}


.mb-10{
    margin-bottom: 40px;
    margin-top: 20px;
    
}

.name{
    display: block;
    text-align: center;
}