.prline{
    display: block;
    border-bottom: 2px solid #fff;
    text-align: left;
    font-size: 13px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

.maincontent{
    padding-left: 15px;
    padding-right: 15px;    
}

.profile{
    height: 100px;
    width: 100px;
    border: 2px solid #fece00;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffffff;
    font-weight: 300;
    background-image: url('../../../assets/img/user.png');
    background-size: cover;
    overflow: hidden;
}
.mb-10{
    margin-bottom: 40px;
    margin-top: 20px;
    
}

.name{
    display: block;
    text-align: center;
}