agm-map {
    height: calc(100vh - 305px);
  }
  .bottompanel{
    height: 180px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    bottom: 71px;
  }

  .height{
      height: 100px;
  }

  .lr {
    border-radius: 50%;
    /* border: 1px solid #000; */
    height: 65px;
    width: 65px;
    text-align: center;
    display: inline-block;
    position: relative;
}

  .lr img {
    height: 100%;
}
.center {
    height: 100px;
    position: relative;
}

.center img {
    height: 100%;
}
.center .text{
    position: absolute;
    width: 100%;
    font-size: 15px;
    z-index: 1111111;
    text-align: center;
}

.lr .text {
    position: absolute;
    width: 100%;
    font-size: 12px;
    /* left: -22px; */
    z-index: 1111111;
    text-align: center;
}

.floatingtextBox {
    position: fixed;
    z-index: 111111;
    top: 70px;
    /* background: grey; */
    width: 100%;
    text-align: center;
}
.inputWrapper {
    height: 33px;
    padding: 0px;
    position: relative;
    width: 245px;
    display: inline-block;
}
.inputWrapper input {
    height: 100%;
    margin: 0px;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    display: inline-block;
    padding-right: 10px;
    box-shadow: 0px 4px 10px #ccc;
    border: 0px;
    display: block;
    margin-left: -10px;
    font-size: 17px;
}
.inputWrapper i {
    position: absolute;
    right: 2px;
    top: 7px;
}