.mat-theme{
    margin-bottom: 0px;
}


table.foursquare {
    height: 300px;
    max-width: 400px;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin: auto;
}

table.foursquare tr td {
    height: 200px;
    width: 200px;
    text-align: center;
}

table.foursquare tr td  span{
display: block;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.btn.btn-theme-dark{
    background-color: #414042;
    color: #FFFFFF;
    width: 100px;
}
.bg-white{
    background-color: #fff;
}