/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto,Helvetica,Arial,sans-serif';
}

.example-card{
    background: transparent;
}

.text-center{
    text-align: center!important;
}

.center .text {
    z-index: 0!important;
}

.lr .text{
    z-index: 0!important;
}



.mat-input-element::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
  }

  .p-15{
      padding: 15px;
  }

  .mb-10{
      margin-bottom:10px;
  }

  .text-white{
      color: white;
  }

.inputmob{
    padding-left: 10px;
}

.password{
    padding-left: 10px;
}
 

.mat-toolbar.mat-theme{
    background-color: #fece00;
    background-image: linear-gradient(#f9e401, #fece00)!important;
    color: #414143;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .disp-block{
      display: block!important          ;
  }

  .homenav .mat-ink-bar{
      top:0!important;
  }
  .homenav {
    position: fixed!important;
    bottom: 0px;
    width: 100%;
    background-color: #414042;
}

.homenav .mat-tab-label-active i.material-icons {
    color: #fcd300!important;
}
.homenav .mat-tab-link i.material-icons {
    font-size: 34px;
    color: #ffffff;
}

small{
    font-size: 80%
}

.opeq{
    opacity: 0.8;
}

.btn.btn-lg{
    padding: 10px;
    
}

.btn.btn-theme{
    background-color: #fece00;
    background-image: linear-gradient(#f9e401, #fece00)!important;
    color: #414143;
    font-weight: 400;
    font-size: 150%;
}

.maincontent{
    height: calc(100vh - 106px);
    background-color: #e6e7e9;
    display: block;
    position: relative;
    overflow: scroll;
}
.mat-button-toggle-checked{
    background-color: #fece00;
    background-image: linear-gradient(#f9e401, #fece00)!important;
    
}


.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    line-height: 40px!important;
    min-width: 70px;
}
.p-10{
    padding: 10px;
}
.pull-right {
    position: absolute;
    display: inline-block;
    right: 20px;
}

.regiter .mat-form-field-appearance-legacy .mat-form-field-wrapper{

    margin-bottom: -9px;
}


.form .mat-form-field-appearance-legacy .mat-form-field-wrapper{

    margin-bottom: -9px;
}


.mat-dialog-container{
    padding: 0px!important;
}

.dialog-title{
    background-color: #fece00;
    background-image: linear-gradient(#f9e401, #fece00)!important;
    text-align: center;
    color: #414141;
}

.mat-dialog-title {
    /* margin: 0 0 20px; */
    display: block;
    margin: 0px;
    position: relative;
    padding: 6px;
}
.dialog-content{
    padding: 15px 10px 5px 10px;
    max-height: 300px;
    overflow: auto;
}

.mat-dialog-actions{
    margin-bottom: 0px!important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix{
    border-top: 0px;
}
.toolbar-menu-button{
    min-width:0px!important;
    padding: 0px!important;
}

.mat-drawer-inner-container{
    min-width: 200px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ffcc00;
}

a.mat-list-item.active {
    background-color: #fece00;
    background-image: linear-gradient(#f9e401, #fece00) !important;
}

.example-sidenav-content{
    height: 100%;
}

.closebtn{
    position: absolute;
    top: 7px;
    right: 2px;
    background: #ffffff;
    border: 0px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    z-index: 111111;
    text-align: center;
    padding: 0px;
    padding-left: 2px;
    display: none;
}

.mat-snack-bar-container{
    color: rgba(4, 4, 4, 0.7);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    background-color: #fece00;
    background-image: linear-gradient(#f9e401, #fece00) !important;
}